@font-face {
	font-family: SharpSans;
	font-weight: 300;
	src: url('/fonts/SharpSansNo1-Medium_gdi.woff') format('woff');
}

@font-face {
	font-family: SharpSans;
	src: url('/fonts/SharpSansNo1-Semibold_gdi.woff') format('woff');
}

@font-face {
	font-family: SharpSans;
	font-weight: bold;
	src: url('/fonts/SharpSansNo1-Bold_gdi.woff') format('woff');
}

@font-face {
	font-family: SharpSans;
	font-weight: 900;
	src: url('/fonts/SharpSansNo1-Extrabold_gdi.woff') format('woff');
}

b {font-weight:bold;}

body {max-width:1080px; max-height:1920px; font-family:'SharpSans'; color:black; background-color:white; overflow-x:hidden;}

#document {position:relative; width:100%; height:100%;}

#calendar {height:890px; padding-left:48px; color:white; background-color:rgb(55, 53, 53);}
#calendar .logo {margin-top:60px;}
#calendar .weekdays {margin-top:60px; overflow:hidden; text-align:center; line-height:80px; font-size:72px;}
#calendar .weekdays .item {float:left; color:#131212; margin-left:45px;}
#calendar .weekdays .item.weekend {color:#4e4c4c;}
#calendar .weekdays .item:first-child {color:white; font-size:80px; margin-left:0;}
#calendar .weekdays .item .dayOfWeek {font-size:50px; font-weight:bold;}
#calendar .current-time {clear:both; margin-top:88px; font-size:150px; font-weight:bold;}
#calendar .this-place {display:table; width:100%; margin-top:36px; font-size:150px;}
#calendar .this-place .name {display:table-cell; color:#ffde00;}
#calendar .this-place .weather {display:table-cell; text-align:right; padding-right:34px; font-size:78px;}
#calendar .this-place .weather .icon {height:90px;}
#calendar .ticker {white-space:nowrap; margin-top:60px; font-size:30px;}
#calendar .ticker .wrapper {display:table; position:relative;}
#calendar .ticker .line {display:table-cell; position:relative; padding-right:100px;}
@-webkit-keyframes tickerLineKeyframes {
    from {left:0%;}
    to {left:-50%;}
}
@keyframes tickerLineKeyframes {
    from {left:0%;}
    to {left:-50%;}
}
#calendar .ticker .line {
-webkit-animation:tickerLineKeyframes 15s linear 0s infinite normal;
        animation:tickerLineKeyframes 15s linear 0s infinite normal;
}
#calendar .ticker .name {color:#ffde00;}
#calendar .ticker .time {color:#ffde00;}

#schedule {height:674px; background-color:white; overflow:hidden;}
#schedule .left {float:left; width:50%; height:100%; position:relative; overflow:hidden; white-space:nowrap;}
#schedule .left .wrapper {position:absolute;}
#schedule .left .wrapper .stop {display:inline-block; position:relative; width:540px;}
#schedule .left .stop .header {padding:43px 25px; font-weight:bold; font-size:30px;}
#schedule .left .stop .header img {margin-right:18px;}
#schedule .left .stop table {table-layout:fixed; width:100%; font-size:28px;}
#schedule .left .stop table td {overflow:hidden; padding:19px 0;}
#schedule .left .stop table tr:nth-child(odd) {background-color:#e5e5e5;}
#schedule .left .stop table tr:nth-child(1n+9) {display:none;}
#schedule .left .stop table tr td:nth-child(1) {width:20%; text-align:center; font-weight:bold;}
#schedule .left .stop table tr td:nth-child(2) {width:62%; padding-left:12px;}
#schedule .left .stop table tr td:nth-child(3) {width:18%; padding-right:16px; text-align:center; font-weight:bold;}
#schedule .right {float:right; width:50%; position:relative; overflow:hidden;}
#schedule .right .map {position:relative;}
#schedule .right .map .icon {position:absolute; display:none;}
#schedule .right .map .icon-1 {top:96px; left:152px; display:block;}
#schedule .right .map .icon-2 {top:300px; left:276px;}
#schedule .right .map .icon-3 {top:244px; left:721px;}
#schedule .right .map .icon-4 {top:229px; left:771px;}

#taxi {height:356px; position:relative; background-color:#ffde00;}
#taxi .frames {display:table; width:100%; height:100%;}
#taxi .frame {display:none; position:relative; vertical-align:middle; text-align:center; font-size:40px; line-height:1.3;}
#taxi .frame .icon {margin-bottom:20px;}
#taxi .frame.idle {display:table-cell;}
#taxi .frame.idle .indicator {position:absolute; top:25px; left:25px;}
#taxi .frame.idle .info {font-size:32px; font-weight:300;}
#taxi .frame.idle .previous-taxi {display:none; position:absolute; bottom:0; left:0; width:100%; height:96px; line-height:96px; background-color:#FFF7C5; font-size:30px;}
#taxi .frame.idle .previous-taxi .icon {position: absolute; left:40px; top:25px;}
#taxi .frame.pressed {}
#taxi .frame.pressed .counter {font-size:125px; font-weight:300;}
#taxi .frame.quickie {}
#taxi .frame.ordering-taxi {}
#taxi .frame.ordering-taxi .info {font-size:32px; font-weight:300;}
#taxi .frame.awaiting-taxi {}
#taxi .frame.awaiting-taxi .info {font-size:32px; font-weight:300;}
#taxi .frame.taxi-confirmed {}
#taxi .frame.all-busy {}
#taxi .frame.order-failed {}
#taxi .frame.order-failed .icon {margin-bottom:0;}
#taxi .frame.order-failed .oops {font-weight:900; display:inline-block; margin-bottom:30px;}
#taxi .overlays {display:table; position:absolute; width:100%; height:100%; top:0; left:0;}
#taxi .overlay {display:none; position:relative; vertical-align:middle; text-align:center; font-size:40px; line-height:1.3; background-color:#ffde00;}
#taxi .overlay.unrecognized-sms {}
#taxi .overlay.unrecognized-sms .icon {margin-bottom:0;}
#taxi .overlay.unrecognized-sms .message {font-size:28px; font-weight:bold;}
#taxi .overlay.unrecognized-sms .phone {margin-top:12px;}
#taxi .overlay.unrecognized-sms .phone .icon {vertical-align:middle;}
#taxi .overlay.unrecognized-sms .phone-number {vertical-align:middle; font-weight:300;}