/*
================================================================================
BASIC STYLES for tags
================================================================================
*/

body {max-width:1080px; max-height:1920px; font-family: 'Droid Sans', Verdana, Arial, Helvetica, sans-serif; color:black; background-color:white;}
/*h1, h2, h3, h4, h5, h6 {font-family: 'Nobile', Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 1;}
h1 {font-size: 72px; text-transform: uppercase;}
h2 {font-size: 60px;}
strong {font-weight: bold;}*/

/*
================================================================================
UNIQUE ELEMENTS and their contents
================================================================================
*/

#document {position:relative; width:100%; height:100%;}

#calendar {height:880px; padding-left:30px; color:white; background-color:rgb(55, 53, 53);}
#calendar .logo {height:20px;}
#calendar .this-place .name {color:#ffde00;}
#calendar .ticker .name {color:#ffde00;}
#calendar .ticker .time {color:#ffde00;}

#schedule {height:680px; background-color:white;}

#taxi {height:360px; background-color:#ffde00;}
/*#calendar {width: 100%; height: 215px; margin-bottom: 60px; font-size: 30px; color: #878681; overflow: hidden; }
#calendar .logo {position: absolute; top: 0px; right: 30px; z-index: 1000; }
#calendar .datetime {float: left; margin-right: 40px; text-align: center; line-height: 1.2;}
#calendar .datetime .date {display: block;}
#calendar .datetime .time {display: block; font-size: 128px; font-weight: bold;}
.weather {float: left; width: auto; font-size: 48px; line-height: 48px;}
.weather table {float: left; width: auto; margin-right: 10px;}
.weather table td {vertical-align: middle;}
.weather table td a {text-decoration: none; color: #878681;}
.weather table td.conditions {padding: 0 10px 0 20px;}
.weather table td.conditions img {width: 48px; height: 48px;}
.weather table td.temp {text-align: right;}

#schedule {margin-bottom: 132px;}
#schedule h1 {color: #4C9018; margin-bottom: 30px;}
#schedule h2 {margin-top: 30px; margin-bottom: 30px; color: #878681;}
#schedule h2 span {font-size: 50%;}
#schedule table {width: 100%;}
#schedule table .line {width: 20%;}
#schedule table .destination {width: 20%; color: #878681;}
#schedule table .diffTime {width: 40%; text-align: right;}
#schedule table .stopTime {width: 20%; text-align: right; color: #878681;}

#taxi {
	position: relative; margin: 0 -20px; padding: 40px; font-size:16px; line-height: 1.25; color: #fff; background-color: #4C9018; min-height: 100px;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25)));
    background-image: -moz-linear-gradient(100% 100% 90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

#taxi h2 {position: absolute; top: -0.9em; left: 0px; width: 100%; font-size: 72px; line-height: 1; text-align: center; text-transform: uppercase; letter-spacing: 0.25em; color: #4C9018;}
#taxi .taxi_wrap {width: 420px; margin: auto; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; margin-bottom: 10px; font-size: 32px; padding: 15px;}
#taxi .orders {display: none; color: #FFFFFF;}
#taxi .processing {background-color: #000066 !important;}
#taxi .response {background-color: #000066 !important;}
#taxi .fail {background-color: #FF0000 !important; color: #FFFFFF;}
#taxi .success {background-color: #4C9018 !important; color: #FFFFFF;}*/

